<div id= "posting" >
<%= form_for(@swit) do |f| %>
  <% if @swit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@swit.errors.count, "error") %> prohibited this swit from being saved:</h2>

      <ul>
      <% @swit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  

    <%= f.text_area :post , :id=> "txt" %>



  <span id = "count"></span>
 

  <div class="actions right">
    <%= f.submit 'Post', :class => "button"%>
  </div>
<% end %>

</div>