<h1>Swits</h1>


<%= render 'form' %>
 <% @swits.each do |swit| %>
<div class="panel callout radius">
<b><%= swit.user_id %></b>

<h4><%= swit.post %></h4>




<% if current_user.username ==  swit.user_id  %>
 <%= link_to edit_swit_path(swit) do %>
  <i class="fi-pencil"></i> 
<% end %>
<% end %>


 <% @sweet= Sweet.new%>

<%= form_for([swit, @sweet], :html => {:class => 'sweet_form'}) do |f| %>
  <% if @sweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sweet.errors.count, "error") %> prohibited this sweet from being saved:</h2>

      <ul>
      <% @sweet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <input id="sweet_swit_id" name="sweet[swit_id]" type="hidden" value="<%= @swit.id%>" />
 
 
   
     <input name="commit" type="submit" class= "sweet"value="" />

<% end %>

<%= link_to pluralize(swit.sweets.count.to_s, "Sweet"), swit_sweets_path(swit)  %>



<%= link_to pluralize(swit.comments.count.to_s, "Comment"), new_swit_comment_path(swit)  %>


<% if current_user.username ==  swit.user_id  %>
 <%= link_to 'delete', swit, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<br>



<%= render swit.comments %>	
<% @comment= Comment.new%>
<%= form_for([swit, @comment]) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<%# =========================comment form======================================================%>
  <div class="field">
    
    <%= f.text_area :body %>


   <input id="comment_swit_id" name="comment[swit_id]" type="hidden" value="<%= @swit.id%>" />
  </div>
 

  
  <div class="actions">
    <%= f.submit %>
  </div>

  <%# =========================comment form======================================================%>
<% end %>


</div>
<% end %>
<br>



<%= link_to 'New Swit', new_swit_path %>
