

<%= render 'form' %>
 <% @swits.each do |swit| %>
<div class="panel callout radius">
<b><%= swit.user_id %></b>

<h4>


<% temp= swit.post 

finalstring= ""
first_index=0;
while temp != ""
open_brace= temp.index('{')
if open_brace !=nil then 

%>

<%close_brace= temp.index('}')%>
<%=temp[first_index, open_brace]%>
<% tag=temp[open_brace .. close_brace]%>
<%= link_to tag, showdoortags_doortags_path(id: 1 , doortag: tag) %>
<% temp= temp[close_brace+1, temp.length]%>
<%else%>
<%= temp%>
<% temp=""%>
<%end%>
<%end%>

</h4>



<% if current_user.username ==  swit.user_id  %>
 <%= link_to edit_swit_path(swit) do %>
  <i class="fi-pencil"></i> 
<% end %>
<% end %>

<%#=============================== sweet form==========================================================%>
<%#%>
 <% @sweet= Sweet.new%>

<%= form_for([swit, @sweet], :html => {:class => 'sweet_form'}) do |f| %>
  <% if @sweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sweet.errors.count, "error") %> prohibited this sweet from being saved:</h2>

      <ul>
      <% @sweet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <input id="sweet_swit_id" name="sweet[swit_id]" type="hidden" value="<%= @swit.id%>" />
 
 
   
     <input name="commit" type="submit" class= "sweet"value="" />

<% end %>

<%= link_to pluralize(swit.sweets.count.to_s, "Sweet"), swit_sweets_path(swit)  %>

<%#=============================== sweet form==========================================================%>


<%#=============================== sour form==========================================================%>

 <% @sour= Sour.new%>

<%= form_for([swit, @sour], :html => {:class => 'sour_form'}) do |f| %>
  <% if @sour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sour.errors.count, "error") %> prohibited this sour from being saved:</h2>

      <ul>
      <% @sour.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <input id="sour_swit_id" name="sour[swit_id]" type="hidden" value="<%= @swit.id%>" />
 
 
   
     <input name="commit" type="submit" class= "sour"value="" />

<% end %>

<%= link_to pluralize(swit.sours.count.to_s, "sour"), swit_sours_path(swit)  %>

<%#=============================== sweet form==========================================================%>

<%= link_to pluralize(swit.comments.count.to_s, "Comment"), new_swit_comment_path(swit)  %>


<% if current_user.username ==  swit.user_id  %>
 <%= link_to 'delete', swit, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<br>


<%= render swit.sweets %> 
<%= render swit.comments %> 
<% @comment= Comment.new
    @swit= swit
%>

<%= render 'comments/form'  %>


</div>
<% end %>
<br>



<%= link_to 'New Swit', new_swit_path %>
